xterm*VT100*geometry: 94x28
xterm.vt100.faceName: DejaVu Sans Mono:style=Book
xterm.vt100.faceSize: 12
xterm*forceBoxChars: true
xterm*utf8: true
xterm*background: black
xterm*foreground: lightblue
xterm*loginShell: true
xterm*title: XTerm
xterm*iconName: XTerm
xterm*saveLines: 50000
xterm*jumpScroll: true
xterm*scrollTtyOutput: false
xterm*scrollKey: true
xterm*alwaysUseMods: true
xterm*metaSendsEscape: true
xterm*utf8Title: true 

xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
                 Ctrl Shift <Key>C:    copy-selection(CLIPBOARD)
